@tailwind components;

@layer components {
  /* header */
  .page-header-section {
    @apply flex relative bg-skin-primary w-full z-20;
  }

  .page-header-section-4-desktop {
    @apply hidden relative md:grid w-4/5 md:w-[720px] lg:w-[1200px] justify-center 
    items-center h-[55px] grid-cols-[1fr_0.5fr_1.5fr_0.75fr] 
    lg:grid-cols-[1fr_1fr_1fr_0.75fr] lg:space-x-4;
  }
  /* header 1 of 4 */
  .header-component-logo-section {
    @apply flex flex-row 
    text-skin-color1 font-sans font-semibold text-styleh4 ml-2 h-full;
  }
  .header-component-icon-logo {
    @apply h-[32px] w-[32px] bg-cover mx-2;
  }

  /* header 2 of 4 */
  .header-component-search {
    @apply flex;
  }

  .header-component-search-bar {
    @apply absolute flex inset-0 w-full px-1 md:px-2 md:max-w-screen-md lg:max-w-2xl flex-row bg-skin-colorContent z-30 py-1 space-x-2;
  }

  .header-component-search-icon {
    @apply flex bg-transparent p-2 px-3 rounded-md shadow-lg items-center text-stylep2 text-skin-color1
    bg-gradient-primary-buttons-130 hover:bg-gradient-primary-buttons-110;
  }

  .header-component-search-input {
    @apply flex w-full text-stylep3 border-b-skin-colorBorder1 px-1 pb-0 pt-1 bg-skin-colorContent text-skin-colorContent flex-1
    focus:bg-white focus:text-black transition-all duration-300 ease-in-out;
  }

  /* header 3 of 4 */
  .header-component-navigation {
    @apply flex flex-row w-full px-2 text-stylep3 space-x-2;
  }
  .header-component-navigation-link {
    @apply flex justify-center items-center w-1/3 bg-skin-primary 
    text-skin-color1 md:opacity-90 hover:opacity-100 ease-in-out
    underline-offset-4 underline
    hover:text-skin-color2;
  }

  /* header 4 of 4 */
  .header-component-call-to-action {
    @apply flex flex-row px-1 gap-1 w-full;
  }

  .header-component-call-to-action-buttons {
    @apply flex rounded-md py-1 px-1 text-stylep3 border-skin-colorBorder1 border-opacity-30 text-skin-color1 w-[75px]
    md:opacity-90 hover:opacity-100 transition-all duration-300 ease-in-out border-r-2 border-b-2;
  }

  /* cart icon */
  .header-component-call-to-action-buttons-cart-component {
    @apply flex flex-row px-1 py-2 relative;
  }
  .header-component-call-to-action-buttons-cart-icon {
    @apply flex flex-row p-1 px-0 relative text-skin-color1 text-stylep1 
    md:opacity-80 hover:opacity-100 transition-all duration-300 ease-in-out
    w-[30px] h-[27px] bg-gray-200 bg-opacity-5 
    box-content;
  }
  /* cart icon number */
  .header-component-call-to-action-buttons-cart-number {
    @apply absolute -right-3 -top-1 text-stylep4
    bg-red-600 text-slate-100 font-bold
    w-[22px] h-[21px] rounded-full box-content
    flex items-center justify-center;
  }
  .header-component-call-to-action-buttons-cart-arrowdown {
    @apply absolute -right-3 -bottom-1 text-stylep4
    bg-skin-secondary text-slate-100 font-bold bg-opacity-85
    w-[22px] h-[21px] rounded-full box-content border-skin-colorBorder1
    flex items-center justify-center;
  }
  .header-dropdowns {
    @apply /* MOBILE (below md) */
    fixed right-2 top-16
    w-80 h-[70vh]

    /* DESKTOP (md and up) */
    md:absolute md:right-2 md:top-8 md:mt-2
    md:w-[240px] md:h-[360px]

    bg-white  rounded-lg shadow-lg
    z-30 overflow-hidden text-slate-900 p-2 border border-opacity-55 
    border-skin-colorBorder2 justify-between;
  }

  /* cart header card*/
  .header-cart-card {
    @apply flex flex-col font-Receipt items-center w-full h-[75px] 
    overflow-hidden ;
  }

  /* mobile header design */
  .page-header-section-4-mobile {
    @apply flex items-center justify-between md:hidden h-[40px] pt-[3%] 
    py-3 box-content w-full relative text-skin-color1 font-sans;
  }

  .bottom-navigation-4-mobile {
    @apply fixed md:hidden bottom-2 left-1/2 -translate-x-1/2 z-50 
    bg-skin-primary bg-opacity-80 border-2 border-b-4 border-r-4 rounded-xl overflow-hidden
    h-[10vh] w-[90%] shadow-lg grid-cols-4;
  }

  .mobile-action-button {
    @apply flex rounded-md py-1 px-1 text-stylep4 border-skin-colorBorder1 
    border-opacity-30 text-skin-color1 w-fit
    opacity-90 hover:opacity-100 transition-all duration-300 ease-in-out 
    border-r-2 border-b-2 gap-2;
  }
}
