@tailwind components;

@layer components {
  
  .landing-page-section-mobile {
    @apply flex flex-col w-full  z-0 min-h-screen md:hidden;
  }

  .landing-hero-slide-button {
    @apply absolute flex px-3 py-10 h-[40%] w-[30%] bg-slate-200 bg-opacity-10 top-1/2 
    -translate-y-1/2 opacity-10 z-40 items-center justify-center
    text-skin-color1 ;
  }

  .landing-feature-page-content {
    @apply grid grid-cols-2 md:grid-cols-4 gap-2 py-2 pb-4;
  }

  .landing-feature-card {
    @apply relative flex flex-col pt-0 px-0 pb-2 md:pb-2 h-[32vh] my-2
    bg-skin-colorContent text-skin-colorContent shadow-md shadow-inherit rounded-t-none rounded-b-md
    md:rounded-none items-center overflow-hidden justify-between font-sans;
  }

  .landing-feature-card-image {
    @apply flex relative justify-center items-center w-full h-4/5
    overflow-hidden rounded-none;
  }

  .landing-feature-gradient {
    @apply absolute bottom-0 bg-gradient-back-transparent opacity-30 bg-opacity-5 w-full h-full hover:bg-skin-primary;
  }

  .landing-feature-link {
    @apply flex flex-row px-2 py-1 items-center justify-center 
    text-stylep4 bg-skin-fill-4 text-skin-colorHigh rounded-xl
    border-b-2 border-r-2 min-w-[75px] border-opacity-30;
  }

  /**
  desktop
  **/

  .landing-page-section-desktop {
    @apply md:flex flex-col w-full z-0 md:w-full px-2 hidden;
  }
}