@tailwind components;

@layer components {
  .store-body-section {
    @apply flex flex-col lg:grid lg:grid-cols-[1fr_3fr] w-full min-h-screen relative;
  }
  .store-filter-dropdown-input-labels {
    @apply grid grid-cols-[1fr_2fr] gap-2 items-center 
    w-full text-stylep4;
  }
  .store-filter-dropdown-inputs {
    @apply flex  border-2 border-skin-colorBorder1 w-full bg-white/95 px-1 py-1 text-slate-800 opacity-90 text-stylep4;
  }
}