@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;

@layer base {
  html {
    font-family: 'Inter', 'Fraunces', 'Vend Sans', sans-serif;
    scroll-behavior: smooth;
  }
}
