@layer base {
  :root,
  .theme-default {
    /* Brand */
    --color-primary: 30, 70, 139;
    --color-secondary: 31, 96, 189;

    /* Buttons */
    --color-button: 240, 245, 255;
    --color-button-1: 25, 55, 115;
    --color-button-2: 12, 30, 70;
    --btn-grad-start: 5, 21, 49;
    --btn-grad-end: 24, 78, 153;

    /* Text */
    --color-text1: 255, 255, 255;
    --color-text2: 220, 226, 231;
    --color-text3: 5, 12, 20;
    --color-contrast: 80, 220, 238;
    --color-disable: 73, 67, 67;

    /* Surfaces */
    --color-fill-1: 22, 61, 124;
    --color-fill-2: 9, 49, 109;
    --color-fill-3: 8, 20, 45;
    --color-fill-4: 3, 10, 20;

    /* Background */
    --color-back: 155, 190, 230;

    /* Borders */
    --color-border1: 10, 30, 55;
    --color-border2: 141, 235, 235;

    /* Content areas */
    --color-content-text: 20, 20, 20;
    --color-content-bg: 226, 236, 236;

    /* Shadow */
    --color-shadow: 77, 88, 100;
  }

  .theme-coffee {
    --color-primary: 241, 207, 137;
    --color-secondary: 241, 177, 108;

    --color-button: 167, 101, 16;
    --color-button-1: 73, 57, 32;
    --color-button-2: 156, 111, 42;
    --btn-grad-start: 241, 202, 158;
    --btn-grad-end: 235, 200, 131;

    --color-text1: 31, 28, 20;
    --color-text2: 70, 60, 51;
    --color-text3: 243, 212, 187;
    --color-contrast: 245, 229, 210;
    --color-disable: 110, 96, 81;

    --color-fill-1: 40, 24, 10;
    --color-fill-2: 58, 35, 14;
    --color-fill-3: 214, 169, 126;
    --color-fill-4: 230, 206, 159;

    --color-back: 45, 30, 10;

    --color-border1: 248, 177, 106;
    --color-border2: 78, 48, 19;

    --color-content-text: 230, 225, 210;
    --color-content-bg: 55, 28, 15;

    --color-shadow: 255, 228, 93;
  }

  .theme-dark {
    --color-primary: 20, 20, 20;
    --color-secondary: 45, 45, 45;

    --color-button: 70, 70, 70;
    --color-button-1: 90, 90, 90;
    --color-button-2: 50, 50, 50;
    --btn-grad-start: 35, 35, 35;
    --btn-grad-end: 65, 65, 65;

    --color-text1: 235, 235, 235;
    --color-text2: 175, 175, 175;
    --color-text3: 15, 15, 15;
    --color-contrast: 85, 137, 235;
    --color-disable: 90, 90, 90;

    --color-fill-1: 35, 35, 35;
    --color-fill-2: 25, 25, 25;
    --color-fill-3: 45, 45, 45;
    --color-fill-4: 15, 15, 15;

    --color-back: 15, 15, 15;

    --color-border1: 60, 60, 60;
    --color-border2: 140, 140, 140;

    --color-content-text: 15, 15, 15;
    --color-content-bg: 215, 218, 220;

    --color-shadow: 0, 0, 0;
  }

  .theme-sakura {
    --color-primary: 245, 206, 220;
    --color-secondary: 223, 98, 150;

    --color-button: 85, 12, 36;
    --color-button-1: 235, 150, 210;
    --color-button-2: 210, 100, 180;
    --btn-grad-start: 223, 194, 208;
    --btn-grad-end: 224, 113, 152;

    --color-text1: 80, 20, 40;
    --color-text2: 120, 60, 90;
    --color-text3: 248, 215, 226;
    --color-contrast: 39, 95, 37;
    --color-disable: 236, 170, 203;

    --color-fill-1: 55, 25, 30;
    --color-fill-2: 112, 71, 89;
    --color-fill-3: 250, 215, 230;
    --color-fill-4: 255, 235, 245;

    --color-back: 63, 8, 45;

    --color-border1: 224, 119, 172;
    --color-border2: 94, 43, 62;

    --color-content-text: 245, 230, 235;
    --color-content-bg: 60, 20, 25;

    --color-shadow: 247, 116, 169;
  }

  .theme-dark2 {
    --color-primary: 5, 15, 43;
    --color-secondary: 16, 36, 65;

    --color-button: 232, 239, 250;
    --color-button-1: 152, 130, 243;
    --color-button-2: 80, 63, 167;
    --btn-grad-start: 30, 49, 97;
    --btn-grad-end: 6, 11, 27;

    --color-text1: 238, 244, 253;
    --color-text2: 180, 200, 230;
    --color-text3: 10, 15, 25;
    --color-contrast: 150, 255, 80;
    --color-disable: 80, 90, 110;

    --color-fill-1: 42, 87, 64;
    --color-fill-2: 42, 61, 18;
    --color-fill-3: 13, 18, 54;
    --color-fill-4: 0, 1, 2;

    --color-back: 255, 255, 255;

    --color-border1: 18, 38, 80;
    --color-border2: 160, 235, 79;

    --color-content-text: 24, 56, 50;
    --color-content-bg: 208, 229, 243;

    --color-shadow: 78, 189, 143;
  }
}
