@layer base {
  /* ========== Base (Default) Theme ========== */
  :root,
  .theme-default {
    --color-primary: 34, 87, 165;
    --color-secondary: 58, 128, 219;
    --color-button: 28, 60, 122;

    --color-text1: 255, 255, 255;
    --color-text2: 203, 221, 238;
    --color-contrast: 255, 166, 0;
    --color-disable: 58, 47, 47;

    --color-fill-1: 24, 71, 141;
    --color-fill-2: 41, 48, 58;
    --color-fill-3: 4, 15, 32;
    --color-fill-4: 83, 97, 119;

    --color-button-1: 28, 60, 122;
    --color-button-2: 9, 27, 65;

    --color-back: 248, 250, 252;
    --color-border1: 210, 220, 220;
    --color-border2: 19, 26, 34;

    --color-content-text: 31, 14, 14;
    --color-content-bg: 231, 234, 248;
  }

  /* ========== Coffee Theme ========== */
  .theme-coffee {
    --color-primary: 248, 214, 151;
    --color-secondary: 237, 175, 93;
    --color-button: 179, 133, 65;

    --color-text1: 54, 29, 10;
    --color-text2: 34, 29, 25;
    --color-contrast: 90, 18, 106;
    --color-disable: 174, 148, 133;

    --color-fill-1: 230, 180, 144;
    --color-fill-2: 230, 219, 189;
    --color-fill-3: 251, 132, 132;
    --color-fill-4: 252, 243, 239;

    --color-button-1: 227, 170, 37;
    --color-button-2: 221, 224, 206;

    --color-back: 54, 36, 11;
    --color-border1: 245, 225, 160;
    --color-border2: 255, 176, 4;

    --color-content-text: 65, 32, 17;
    --color-content-bg: 227, 228, 214;
  }

  /* ========== Dark Theme ========== */
  .theme-dark {
    --color-primary: 18, 18, 18;
    --color-secondary: 45, 45, 45;
    --color-button: 61, 61, 59;

    --color-text1: 240, 240, 240;
    --color-text2: 180, 180, 180;
    --color-contrast: 147, 210, 235;
    --color-disable: 8, 4, 4;

    --color-fill-1: 28, 28, 28;
    --color-fill-2: 38, 38, 38;
    --color-fill-3: 58, 58, 58;
    --color-fill-4: 173, 245, 250;

    --color-button-1: 11, 26, 22;
    --color-button-2: 25, 5, 27;

    --color-back: 20, 18, 18;
    --color-border1: 200, 213, 214;
    --color-border2: 185, 236, 245;

    --color-content-text: 0, 0, 0;
    --color-content-bg: 220, 222, 224;
  }

  /* ========== Sakura Theme ========== */
  .theme-sakura {
    --color-primary: 247, 190, 209;
    --color-secondary: 230, 140, 175;
    --color-button: 233, 205, 236;

    --color-text1: 78, 20, 35;
    --color-text2: 82, 56, 66;
    --color-contrast: 32, 95, 32;
    --color-disable: 220, 180, 190;

    --color-fill-1: 255, 240, 245;
    --color-fill-2: 255, 220, 230;
    --color-fill-3: 247, 150, 177;
    --color-fill-4: 34, 22, 25;

    --color-button-1: 245, 158, 223;
    --color-button-2: 228, 108, 200;

    --color-back: 245, 215, 230;
    --color-border1: 31, 11, 11;
    --color-border2: 92, 7, 31;

    --color-content-text: 70, 5, 5;
    --color-content-bg: 248, 240, 240;
  }

  /* ========== Dark2 Theme ========== */
  .theme-dark2 {
    --color-primary: 10, 20, 60;
    --color-secondary: 20, 32, 48;
    --color-button: 65, 49, 121;

    --color-text1: 220, 240, 255;
    --color-text2: 228, 229, 158;
    --color-contrast: 157, 255, 0;
    --color-disable: 43, 46, 49;

    --color-fill-1: 15, 25, 50;
    --color-fill-2: 16, 37, 68;
    --color-fill-3: 6, 12, 71;
    --color-fill-4: 49, 56, 63;

    --color-button-1: 12, 27, 17;
    --color-button-2: 0, 0, 0;

    --color-back: 4, 16, 31;
    --color-border1: 239, 241, 66;
    --color-border2: 159, 241, 66;

    --color-content-text: 19, 44, 39;
    --color-content-bg: 221, 234, 245;
  }
}
