@layer base {
  :root {
    --color-shadow: 0, 0, 0;
  }

  .theme-default {
  --color-primary: 52, 94, 168;
  --color-secondary: 66, 133, 244;

  --color-button-1: 28, 55, 110;
  --color-button-2: 66, 133, 244;
  --color-button-3: 235, 240, 250;

  --btn-grad-start-1: 96, 150, 245;
  --btn-grad-end-1: 52, 94, 168;
  --btn-grad-start-2: 66, 133, 244;
  --btn-grad-end-2: 42, 110, 200;

  --color-text1: 255, 255, 255;
  --color-text2: 230, 235, 245;
  --color-text3: 20, 30, 55;

  --color-contrast: 120, 210, 255;
  --color-disable: 120, 140, 180;

  --color-fill-1: 30, 55, 105;
  --color-fill-2: 45, 85, 150;
  --color-fill-3: 245, 248, 255;
  --color-fill-4: 55, 70, 110;
  --color-fill-5: 80, 100, 145;

  --color-back: 36, 76, 140;

  --color-border1: 210, 225, 245;
  --color-border2: 40, 70, 120;

  --color-content-text: 216, 255, 255;
  --color-content-bg: 8, 100, 161;

  --color-green: 66, 183, 42;
  --color-red: 220, 60, 60;
  --color-cart: 245, 130, 45;

  --color-shadow: 90, 110, 150;
}


  .theme-coffee {
    --color-primary: 248, 193, 105;
    --color-secondary: 245, 175, 100;

    --color-button-1: 247, 208, 146;
    --color-button-2: 134, 90, 24;
    --color-button-3: 56, 33, 1;

    --btn-grad-start-1: 241, 202, 158;
    --btn-grad-end-1: 248, 193, 105;
    --btn-grad-start-2: 240, 76, 71;
    --btn-grad-end-2: 245, 175, 100;

    --color-text1: 45, 30, 20;
    --color-text2: 90, 70, 55;
    --color-text3: 230, 225, 210;

    --color-contrast: 131, 26, 22;
    --color-disable: 160, 135, 110;

    --color-fill-1: 248, 177, 62;
    --color-fill-2: 214, 145, 34;
    --color-fill-3: 53, 29, 7;
    --color-fill-4: 248, 205, 87;
    --color-fill-5: 40, 24, 10;

    --color-back: 250, 219, 198;

    --color-border1: 32, 20, 9;
    --color-border2: 226, 176, 130;

    --color-content-text: 230, 225, 210;
    --color-content-bg: 55, 28, 15;

    --color-green: 212, 221, 82;
    --color-red: 231, 97, 97;
    --color-cart: 230, 146, 78;

    --color-shadow: 180, 140, 90;
  }

  .theme-dark {
    --color-primary: 20, 20, 20;
    --color-secondary: 45, 45, 45;

    --color-button-1: 4, 4, 10;
    --color-button-2: 25, 32, 41;
    --color-button-3: 164, 183, 182;

    --btn-grad-start-1: 35, 35, 35;
    --btn-grad-end-1: 20, 20, 20;
    --btn-grad-start-2: 77, 119, 197;
    --btn-grad-end-2: 45, 45, 45;

    --color-text1: 235, 235, 235;
    --color-text2: 175, 175, 175;
    --color-text3: 15, 15, 15;

    --color-contrast: 85, 137, 235;
    --color-disable: 90, 90, 90;

    --color-fill-1: 10, 10, 10;
    --color-fill-2: 20, 20, 20;
    --color-fill-3: 180, 173, 173;
    --color-fill-4: 68, 50, 50;
    --color-fill-5: 25, 25, 25;

    --color-back: 15, 15, 15;

    --color-border1: 60, 60, 60;
    --color-border2: 140, 140, 140;

    --color-content-text: 215, 218, 220;
    --color-content-bg: 25, 25, 25;

    --color-green: 42, 141, 2;
    --color-red: 199, 3, 3;
    --color-cart: 212, 96, 0;

    --color-shadow: 0, 0, 0;
  }

  .theme-sakura {
    --color-primary: 243, 159, 190;
    --color-secondary: 223, 98, 150;

    --color-button-1: 248, 194, 221;
    --color-button-2: 174, 79, 149;
    --color-button-3: 42, 13, 25;

    --btn-grad-start-1: 245, 206, 220;
    --btn-grad-end-1: 243, 159, 190;
    --btn-grad-start-2: 134, 233, 130;
    --btn-grad-end-2: 245, 120, 182;

    --color-text1: 60, 20, 40;
    --color-text2: 110, 60, 80;
    --color-text3: 245, 230, 235;

    --color-contrast: 39, 95, 37;
    --color-disable: 236, 170, 203;

    --color-fill-1: 245, 183, 193;
    --color-fill-2: 168, 71, 113;
    --color-fill-3: 56, 3, 26;
    --color-fill-4: 255, 154, 204;
    --color-fill-5: 39, 4, 9;

    --color-back: 231, 177, 197;

    --color-border1: 224, 119, 172;
    --color-border2: 94, 43, 62;

    --color-content-text: 245, 230, 235;
    --color-content-bg: 211, 69, 116;

    --color-green: 93, 247, 55;
    --color-red: 11, 235, 243;
    --color-cart: 252, 255, 67;

    --color-shadow: 247, 116, 169;
  }

  .theme-dark2 {
  --color-primary: 231, 46, 46;
  --color-secondary: 255, 197, 91;

  --color-button-1: 69, 245, 46;
  --color-button-2: 28, 179, 48;
  --color-button-3: 28, 82, 17;

  --btn-grad-start-1: 13, 42, 114;
  --btn-grad-end-1: 6, 11, 27;
  --btn-grad-start-2: 5, 15, 43;
  --btn-grad-end-2: 16, 36, 65;

  --color-text1: 247, 68, 253;
  --color-text2: 194, 36, 181;
  --color-text3: 109, 20, 90;

  --color-contrast: 245, 238, 175;
  --color-disable: 66, 71, 80;

  --color-fill-1: 206, 231, 255;
  --color-fill-2: 122, 165, 221;
  --color-fill-3: 52, 99, 219;
  --color-fill-4: 16, 75, 185;
  --color-fill-5: 3, 22, 85;

  --color-back: 0, 0, 0;

  --color-border1: 216, 97, 0;
  --color-border2: 168, 124, 4;

  --color-content-text: 238, 222, 191;
  --color-content-bg: 214, 183, 7;

  --color-green: 95, 247, 35;
  --color-red: 233, 47, 47;
  --color-cart: 228, 121, 33;

  --color-shadow: 78, 189, 143;
}


  .theme-forest {
    --color-primary: 34, 85, 34;
    --color-secondary: 60, 120, 60;

    --color-button-1: 25, 55, 25;
    --color-button-2: 50, 100, 50;
    --color-button-3: 200, 240, 200;

    --btn-grad-start-1: 60, 120, 60;
    --btn-grad-end-1: 30, 85, 30;
    --btn-grad-start-2: 10, 30, 10;
    --btn-grad-end-2: 180, 220, 180;

    --color-text1: 240, 255, 240;
    --color-text2: 200, 230, 200;
    --color-text3: 10, 40, 10;

    --color-contrast: 108, 255, 108;
    --color-disable: 50, 80, 50;

    --color-fill-1: 5, 15, 5;
    --color-fill-2: 20, 60, 20;
    --color-fill-3: 230, 245, 230;
    --color-fill-4: 15, 35, 15;
    --color-fill-5: 10, 50, 10;

    --color-back: 12, 46, 12;

    --color-border1: 15, 40, 15;
    --color-border2: 150, 230, 150;

    --color-content-text: 20, 50, 20;
    --color-content-bg: 200, 230, 200;

    --color-green: 53, 173, 6;
    --color-red: 3, 34, 8;
    --color-cart: 16, 201, 72;

    --color-shadow: 50, 90, 50;
  }
}