@layer base {
  :root {
    --color-shadow: 0,0,0;
  }

  .theme-default {
    --color-primary: 180,30,30;
    --color-secondary: 220,50,50;
    --color-back: 100,10,10;

    --color-text1: 255,245,245;
    --color-text2: 230,200,200;
    --color-text3: 55,10,10;

    --color-button-1: 120,20,20;
    --color-button-2: 90,15,15;
    --color-button-3: 255,240,240;

    --btn-grad-start-1: 220,60,60;
    --btn-grad-end-1: 160,20,20;
    --btn-grad-start-2: 200,40,40;
    --btn-grad-end-2: 130,10,10;

    --color-fill-1: 80,20,20;
    --color-fill-2: 120,30,30;
    --color-fill-3: 255,245,245;
    --color-fill-4: 40,10,10;
    --color-fill-5: 60,15,15;

    --color-border1: 220,100,100;
    --color-border2: 150,10,10;

    --color-contrast: 255, 117, 170;
    --color-disable: 140,80,80;

    --color-green: 30,120,30;
    --color-red: 180,30,30;
    --color-cart: 245,130,45;

    --color-content-bg: 232, 168, 202;
    --color-content-text: 40,10,10;

    --color-shadow: 100,40,40;
  }

  .theme-coffee {
    --color-primary: 30,20,10;
    --color-secondary: 70,50,30;
    --color-back: 20,10,5;

    --color-text1: 245,240,230;
    --color-text2: 230,220,200;
    --color-text3: 60,40,30;

    --color-button-1: 50,30,15;
    --color-button-2: 90,60,35;
    --color-button-3: 221, 125, 8;

    --btn-grad-start-1: 70,50,30;
    --btn-grad-end-1: 50,35,20;
    --btn-grad-start-2: 100,70,50;
    --btn-grad-end-2: 60,40,20;

    --color-fill-1: 40,25,10;
    --color-fill-2: 60,40,20;
    --color-fill-3: 211, 166, 83;
    --color-fill-4: 90,60,35;
    --color-fill-5: 30,20,10;

    --color-border1: 90,60,40;
    --color-border2: 150,100,60;

    --color-contrast: 252, 255, 71;
    --color-disable: 60,40,20;

    --color-green: 3, 151, 40;
    --color-red: 167, 20, 20;
    --color-cart: 155, 70, 17;

    --color-content-bg: 228, 148, 57;
    --color-content-text: 60,40,30;

    --color-shadow: 40,30,20;
  }

  .theme-dark {
    --color-primary: 20,20,20;
    --color-secondary: 45,45,45;
    --color-back: 15,15,15;

    --color-text1: 235,235,235;
    --color-text2: 175,175,175;
    --color-text3: 139, 233, 240;

    --color-button-1: 4,4,10;
    --color-button-2: 25,32,41;
    --color-button-3: 25,39,38;

    --btn-grad-start-1: 35,35,35;
    --btn-grad-end-1: 20,20,20;
    --btn-grad-start-2: 77,119,197;
    --btn-grad-end-2: 45,45,45;

    --color-fill-1: 10,10,10;
    --color-fill-2: 20,20,20;
    --color-fill-3: 73, 97, 121;
    --color-fill-4: 68,50,50;
    --color-fill-5: 61,56,56;

    --color-border1: 60,60,60;
    --color-border2: 140,140,140;

    --color-contrast: 117, 160, 255;
    --color-disable: 90,90,90;

    --color-green: 46,100,25;
    --color-red: 102,17,17;
    --color-cart: 158,72,2;

    --color-content-bg: 25,25,25;
    --color-content-text: 215,218,220;

    --color-shadow: 0,0,0;
  }

  .theme-sakura {
    --color-primary: 243,159,190;
    --color-secondary: 223,98,150;
    --color-back: 231,177,197;

    --color-text1: 80,20,50;
    --color-text2: 140,60,100;
    --color-text3: 255,240,245;

    --color-button-1: 248,194,221;
    --color-button-2: 174,79,149;
    --color-button-3: 42,13,25;

    --btn-grad-start-1: 245,206,220;
    --btn-grad-end-1: 243,159,190;
    --btn-grad-start-2: 134,233,130;
    --btn-grad-end-2: 245,120,182;

    --color-fill-1: 245,183,193;
    --color-fill-2: 168,71,113;
    --color-fill-3: 56,3,26;
    --color-fill-4: 255,154,204;
    --color-fill-5: 39,4,9;

    --color-border1: 224,119,172;
    --color-border2: 94,43,62;

    --color-contrast: 14,73,12;
    --color-disable: 236,170,203;

    --color-green: 146,207,122;
    --color-red: 248,126,153;
    --color-cart: 241,231,169;

    --color-content-bg: 116,38,64;
    --color-content-text: 255,240,245;

    --color-shadow: 247,116,169;
  }

  .theme-dark2 {
    --color-primary: 230,20,40;
    --color-secondary: 201,36,7;
    --color-back: 10,5,30;

    --color-text1: 227,230,20;
    --color-text2: 201,228,51;
    --color-text3: 24,24,2;

    --color-button-1: 230,20,40;
    --color-button-2: 200,50,60;
    --color-button-3: 20,5,40;

    --btn-grad-start-1: 230,50,60;
    --btn-grad-end-1: 180,20,50;
    --btn-grad-start-2: 200,70,40;
    --btn-grad-end-2: 140,10,50;

    --color-fill-1: 30,0,60;
    --color-fill-2: 60,10,120;
    --color-fill-3: 220,30,60;
    --color-fill-4: 192,37,2;
    --color-fill-5: 70,5,40;

    --color-border1: 230,20,40;
    --color-border2: 255,255,80;

    --color-contrast: 255,255,80;
    --color-disable: 233,213,124;

    --color-green: 0,124,50;
    --color-red: 75,1,9;
    --color-cart: 0,117,117;

    --color-content-bg: 20,5,40;
    --color-content-text: 255,255,80;

    --color-shadow: 100,0,150;
  }

  .theme-forest {
    --color-primary: 34,85,34;
    --color-secondary: 60,120,60;
    --color-back: 12,46,12;

    --color-text1: 240,255,240;
    --color-text2: 200,230,200;
    --color-text3: 10,40,10;

    --color-button-1: 25,55,25;
    --color-button-2: 50,100,50;
    --color-button-3: 200,240,200;

    --btn-grad-start-1: 60,120,60;
    --btn-grad-end-1: 30,85,30;
    --btn-grad-start-2: 10,30,10;
    --btn-grad-end-2: 180,220,180;

    --color-fill-1: 5,15,5;
    --color-fill-2: 20,60,20;
    --color-fill-3: 230,245,230;
    --color-fill-4: 15,35,15;
    --color-fill-5: 10,50,10;

    --color-border1: 15,40,15;
    --color-border2: 150,230,150;

    --color-contrast: 108,255,108;
    --color-disable: 50,80,50;

    --color-green: 53,173,6;
    --color-red: 3,34,8;
    --color-cart: 16,201,72;

    --color-content-bg: 200,230,200;
    --color-content-text: 20,50,20;

    --color-shadow: 50,90,50;
  }
}
