@layer base {
  :root {
    --shadow-color: rgb(0, 0, 0);
  }

  /* ===================== DEFAULT ===================== */
  .theme-default {
    --color-primary: rgb(30, 70, 139);
    --color-secondary: rgb(31, 96, 189);

    --color-button-1: rgb(0, 0, 0);
    --color-button-2: rgb(32, 73, 155);
    --color-button-3: rgb(227, 233, 247);

    --btn-grad-start-1: rgb(97, 145, 235);
    --btn-grad-end-1: rgb(30, 71, 128);
    --btn-grad-start-2: rgb(19, 23, 31);
    --btn-grad-end-2: rgb(226, 236, 236);

    --color-text1: rgb(255, 255, 255);
    --color-text2: rgb(220, 226, 231);
    --color-text3: rgb(5, 12, 20);

    --color-contrast: rgb(80, 220, 238);
    --color-disable: rgb(52, 69, 119);

    --color-fill-1: rgb(22, 61, 124);
    --color-fill-2: rgb(9, 49, 109);
    --color-fill-3: rgb(242, 243, 245);
    --color-fill-4: rgb(8, 2, 87);
    --color-fill-5: rgb(58, 74, 95);

    --color-back: rgb(228, 252, 255);

    --color-border1: rgb(196, 224, 252);
    --color-border2: rgb(7, 13, 41);

    --color-content-text: rgb(20, 20, 20);
    --color-content-bg: rgb(205, 245, 252);

    --color-shadow: rgb(77, 88, 100);
  }

  /* ===================== COFFEE (LIGHT) ===================== */
  .theme-coffee {
    --color-primary: rgb(252, 205, 130);
    --color-secondary: rgb(238, 145, 45);

    --color-button-1: rgb(207, 167, 104);
    --color-button-2: rgb(115, 73, 10);
    --color-button-3: rgb(237, 209, 173);

    --btn-grad-start-1: rgb(241, 202, 158);
    --btn-grad-end-1: rgb(235, 200, 131);
    --btn-grad-start-2: rgb(45, 28, 15);
    --btn-grad-end-2: rgb(207, 167, 104);

    --color-text1: rgb(45, 30, 20);
    --color-text2: rgb(90, 70, 55);
    --color-text3: rgb(25, 15, 10);

    --color-contrast: rgb(207, 82, 78);
    --color-disable: rgb(160, 135, 110);

    --color-fill-1: rgb(55, 32, 16);
    --color-fill-2: rgb(40, 24, 10);
    --color-fill-3: rgb(214, 169, 126);
    --color-fill-4: rgb(230, 206, 159);
    --color-fill-5: rgb(30, 18, 10);

    --color-back: rgb(35, 20, 10);

    --color-border1: rgb(248, 177, 106);
    --color-border2: rgb(78, 48, 19);

    --color-content-text: rgb(230, 225, 210);
    --color-content-bg: rgb(55, 28, 15);

    --color-shadow: rgb(180, 140, 90);
  }

  /* ===================== DARK ===================== */
  .theme-dark {
    --color-primary: rgb(20, 20, 20);
    --color-secondary: rgb(45, 45, 45);

    --color-button-1: rgb(49, 50, 73);
    --color-button-2: rgb(227, 238, 255);
    --color-button-3: rgb(67, 57, 57);

    --btn-grad-start-1: rgb(35, 35, 35);
    --btn-grad-end-1: rgb(65, 65, 65);
    --btn-grad-start-2: rgb(20, 20, 20);
    --btn-grad-end-2: rgb(45, 45, 45);

    --color-text1: rgb(235, 235, 235);
    --color-text2: rgb(175, 175, 175);
    --color-text3: rgb(15, 15, 15);

    --color-contrast: rgb(85, 137, 235);
    --color-disable: rgb(90, 90, 90);

    --color-fill-1: rgb(35, 35, 35);
    --color-fill-2: rgb(25, 25, 25);
    --color-fill-3: rgb(252, 235, 235);
    --color-fill-4: rgb(15, 15, 15);
    --color-fill-5: rgb(10, 10, 10);

    --color-back: rgb(15, 15, 15);

    --color-border1: rgb(60, 60, 60);
    --color-border2: rgb(140, 140, 140);

    --color-content-text: rgb(215, 218, 220);
    --color-content-bg: rgb(25, 25, 25);

    --color-shadow: rgb(0, 0, 0);
  }

  /* ===================== SAKURA (LIGHT) ===================== */
  .theme-sakura {
    --color-primary: rgb(245, 206, 220);
    --color-secondary: rgb(223, 98, 150);

    --color-button-1: rgb(245, 120, 182);
    --color-button-2: rgb(87, 16, 68);
    --color-button-3: rgb(247, 47, 114);

    --btn-grad-start-1: rgb(223, 194, 208);
    --btn-grad-end-1: rgb(224, 113, 152);
    --btn-grad-start-2: rgb(245, 206, 220);
    --btn-grad-end-2: rgb(223, 98, 150);

    --color-text1: rgb(60, 20, 40);
    --color-text2: rgb(110, 60, 80);
    --color-text3: rgb(40, 10, 25);

    --color-contrast: rgb(39, 95, 37);
    --color-disable: rgb(236, 170, 203);

    --color-fill-1: rgb(55, 25, 30);
    --color-fill-2: rgb(112, 71, 89);
    --color-fill-3: rgb(250, 215, 230);
    --color-fill-4: rgb(255, 235, 245);
    --color-fill-5: rgb(60, 20, 25);

    --color-back: rgb(63, 8, 45);

    --color-border1: rgb(224, 119, 172);
    --color-border2: rgb(94, 43, 62);

    --color-content-text: rgb(245, 230, 235);
    --color-content-bg: rgb(60, 20, 25);

    --color-shadow: rgb(247, 116, 169);
  }

  /* ===================== DARK 2 ===================== */
  .theme-dark2 {
    --color-primary: rgb(5, 15, 43);
    --color-secondary: rgb(16, 36, 65);

    --color-button-1: rgb(102, 111, 58);
    --color-button-2: rgb(227, 247, 237);
    --color-button-3: rgb(22, 41, 71);

    --btn-grad-start-1: rgb(30, 49, 97);
    --btn-grad-end-1: rgb(6, 11, 27);
    --btn-grad-start-2: rgb(5, 15, 43);
    --btn-grad-end-2: rgb(16, 36, 65);

    --color-text1: rgb(238, 244, 253);
    --color-text2: rgb(180, 200, 230);
    --color-text3: rgb(10, 15, 25);

    --color-contrast: rgb(150, 255, 80);
    --color-disable: rgb(80, 90, 110);

    --color-fill-1: rgb(42, 87, 64);
    --color-fill-2: rgb(42, 61, 18);
    --color-fill-3: rgb(13, 18, 54);
    --color-fill-4: rgb(0, 1, 2);
    --color-fill-5: rgb(5, 10, 15);

    --color-back: rgb(6, 11, 27);

    --color-border1: rgb(18, 38, 80);
    --color-border2: rgb(160, 235, 79);

    --color-content-text: rgb(208, 229, 243);
    --color-content-bg: rgb(13, 18, 54);

    --color-shadow: rgb(78, 189, 143);
  }

  /* ===================== FOREST (LIGHT) ===================== */
  .theme-forest {
    --color-primary: rgb(34, 85, 34);
    --color-secondary: rgb(60, 120, 60);

    --color-button-1: rgb(25, 55, 25);
    --color-button-2: rgb(50, 100, 50);
    --color-button-3: rgb(200, 240, 200);

    --btn-grad-start-1: rgb(60, 120, 60);
    --btn-grad-end-1: rgb(20, 60, 20);
    --btn-grad-start-2: rgb(10, 30, 10);
    --btn-grad-end-2: rgb(180, 220, 180);

    --color-text1: rgb(240, 255, 240);
    --color-text2: rgb(200, 230, 200);
    --color-text3: rgb(10, 40, 10);

    --color-contrast: rgb(120, 255, 120);
    --color-disable: rgb(50, 80, 50);

    --color-fill-1: rgb(20, 60, 20);
    --color-fill-2: rgb(10, 50, 10);
    --color-fill-3: rgb(230, 245, 230);
    --color-fill-4: rgb(15, 35, 15);
    --color-fill-5: rgb(5, 15, 5);

    --color-back: rgb(18, 40, 18);

    --color-border1: rgb(15, 40, 15);
    --color-border2: rgb(150, 230, 150);

    --color-content-text: rgb(20, 50, 20);
    --color-content-bg: rgb(200, 230, 200);

    --color-shadow: rgb(50, 90, 50);
  }
}
