@layer base {
  :root {
    --color-shadow: rgb(0, 0, 0);
  }

  /* ===================== DEFAULT ===================== */
  .theme-default {
  --color-primary: rgb(43, 90, 170);
  --color-secondary: rgb(39, 104, 207);

  --color-button-1: rgb(18, 46, 100);
  --color-button-2: rgb(12, 46, 100);
  --color-button-3: rgb(235, 240, 250);

  --btn-grad-start-1: rgb(96, 150, 245);
  --btn-grad-end-1: rgb(52, 94, 168);
  --btn-grad-start-2: rgb(66, 133, 244);
  --btn-grad-end-2: rgb(42, 110, 200);

  --color-text1: rgb(255, 255, 255);
  --color-text2: rgb(230, 235, 245);
  --color-text3: rgb(20, 30, 55);

  --color-contrast: rgb(54, 208, 219);
  --color-disable: rgb(104, 132, 189);

  --color-fill-1: rgb(30, 55, 105);
  --color-fill-2: rgb(45, 85, 150);
  --color-fill-3: rgb(245, 248, 255);
  --color-fill-4: rgb(10, 18, 39);
  --color-fill-5: rgb(37, 48, 73);

  --color-back: rgb(28, 54, 99);

  --color-border1: rgb(192, 213, 245);
  --color-border2: rgb(19, 62, 136);

  --color-content-text: rgb(18, 20, 20);
  --color-content-bg: rgb(218, 238, 252);

  --color-green: rgb(29, 145, 6);
  --color-red: rgb(184, 31, 31);
  --color-cart: rgb(245, 130, 45);

  --color-shadow: rgb(90, 110, 150);
}


  /* ===================== COFFEE ===================== */
  .theme-coffee {
    --color-primary: rgb(201, 156, 99);
    --color-secondary: rgb(228, 164, 95);

    --color-button-1: rgb(247, 208, 146);
    --color-button-2: rgb(248, 190, 104);
    --color-button-3: rgb(56, 33, 1);

    --btn-grad-start-1: rgb(241, 202, 158);
    --btn-grad-end-1: rgb(248, 193, 105);
    --btn-grad-start-2: rgb(240, 76, 71);
    --btn-grad-end-2: rgb(245, 175, 100);

    --color-text1: rgb(56, 35, 21);
    --color-text2: rgb(78, 56, 38);
    --color-text3: rgb(230, 225, 210);

    --color-contrast: rgb(66, 5, 5);
    --color-disable: rgb(63, 40, 18);

    --color-fill-1: rgb(238, 208, 159);
    --color-fill-2: rgb(221, 184, 126);
    --color-fill-3: rgb(61, 42, 23);
    --color-fill-4: rgb(212, 158, 57);
    --color-fill-5: rgb(87, 49, 16);

    --color-back: rgb(250, 219, 198);

    --color-border1: rgb(48, 31, 15);
    --color-border2: rgb(226, 176, 130);

    --color-content-text: rgb(230, 225, 210);
    --color-content-bg: rgb(55, 28, 15);

    --color-green: rgb(212, 221, 82);
    --color-red: rgb(231, 97, 97);
    --color-cart: rgb(230, 146, 78);
    
    --color-shadow: rgb(180, 140, 90);
  }

  /* ===================== DARK ===================== */
  .theme-dark {
    --color-primary: rgb(20, 20, 20);
    --color-secondary: rgb(45, 45, 45);

    --color-button-1: rgb(4, 4, 10);
    --color-button-2: rgb(25, 32, 41);
    --color-button-3: rgb(164, 183, 182);

    --btn-grad-start-1: rgb(35, 35, 35);
    --btn-grad-end-1: rgb(20, 20, 20);
    --btn-grad-start-2: rgb(77, 119, 197);
    --btn-grad-end-2: rgb(45, 45, 45);

    --color-text1: rgb(235, 235, 235);
    --color-text2: rgb(175, 175, 175);
    --color-text3: rgb(15, 15, 15);

    --color-contrast: rgb(118, 160, 236);
    --color-disable: rgb(90, 90, 90);

    --color-fill-1: rgb(10, 10, 10);
    --color-fill-2: rgb(20, 20, 20);
    --color-fill-3: rgb(180, 173, 173);
    --color-fill-4: rgb(68, 50, 50);
    --color-fill-5: rgb(61, 56, 56);

    --color-back: rgb(15, 15, 15);

    --color-border1: rgb(60, 60, 60);
    --color-border2: rgb(140, 140, 140);

    --color-content-text: rgb(215, 218, 220);
    --color-content-bg: rgb(25, 25, 25);

    --color-green: rgb(46, 100, 25);
    --color-red: rgb(102, 17, 17);
    --color-cart: rgb(158, 72, 2);


    --color-shadow: rgb(0, 0, 0);
  }

  /* ===================== SAKURA ===================== */
  .theme-sakura {
    --color-primary: rgb(243, 159, 190);
    --color-secondary: rgb(223, 98, 150);

    --color-button-1: rgb(248, 194, 221);
    --color-button-2: rgb(174, 79, 149);
    --color-button-3: rgb(42, 13, 25);

    --btn-grad-start-1: rgb(245, 206, 220);
    --btn-grad-end-1: rgb(243, 159, 190);
    --btn-grad-start-2: rgb(134, 233, 130);
    --btn-grad-end-2: rgb(245, 120, 182);

    --color-text1: rgb(60, 20, 40);
    --color-text2: rgb(110, 60, 80);
    --color-text3: rgb(245, 230, 235);

    --color-contrast: rgb(14, 73, 12);
    --color-disable: rgb(236, 170, 203);

    --color-fill-1: rgb(245, 183, 193);
    --color-fill-2: rgb(168, 71, 113);
    --color-fill-3: rgb(56, 3, 26);
    --color-fill-4: rgb(255, 154, 204);
    --color-fill-5: rgb(39, 4, 9);

    --color-back: rgb(231, 177, 197);

    --color-border1: rgb(224, 119, 172);
    --color-border2: rgb(94, 43, 62);

    --color-content-text: rgb(245, 230, 235);
    --color-content-bg: rgb(116, 38, 64);

    --color-green: rgb(146, 207, 122);
    --color-red: rgb(228, 147, 181);
    --color-cart: rgb(241, 231, 169);

    --color-shadow: rgb(247, 116, 169);
  }

  /* ===================== DARK 2 ===================== */
  .theme-dark2 {
    --color-primary: rgb(231, 46, 46);
    --color-secondary: rgb(255, 197, 91);

    --color-button-1: rgb(69, 245, 46);
    --color-button-2: rgb(28, 179, 48);
    --color-button-3: rgb(28, 82, 17);

    --btn-grad-start-1: rgb(13, 42, 114);
    --btn-grad-end-1: rgb(6, 11, 27);
    --btn-grad-start-2: rgb(5, 15, 43);
    --btn-grad-end-2: rgb(16, 36, 65);

    --color-text1: rgb(247, 68, 253);
    --color-text2: rgb(194, 36, 181);
    --color-text3: rgb(109, 20, 90);

    --color-contrast: rgb(245, 238, 175);
    --color-disable: rgb(66, 71, 80);

    --color-fill-1: rgb(206, 231, 255);
    --color-fill-2: rgb(122, 165, 221);
    --color-fill-3: rgb(52, 99, 219);
    --color-fill-4: rgb(16, 75, 185);
    --color-fill-5: rgb(3, 22, 85);

    --color-back: rgb(0, 0, 0);

    --color-border1: rgb(216, 97, 0);
    --color-border2: rgb(168, 124, 4);

    --color-content-text: rgb(238, 222, 191);
    --color-content-bg: rgb(214, 183, 7);

    
    --color-green: rgb(95, 247, 35);
    --color-red: rgb(233, 47, 47);
    --color-cart: rgb(228, 121, 33);


    --color-shadow: rgb(78, 189, 143);
  }

  /* ===================== FOREST ===================== */
  .theme-forest {
    --color-primary: rgb(34, 85, 34);
    --color-secondary: rgb(60, 120, 60);

    --color-button-1: rgb(25, 55, 25);
    --color-button-2: rgb(50, 100, 50);
    --color-button-3: rgb(200, 240, 200);

    --btn-grad-start-1: rgb(60, 120, 60);
    --btn-grad-end-1: rgb(30, 85, 30);
    --btn-grad-start-2: rgb(10, 30, 10);
    --btn-grad-end-2: rgb(180, 220, 180);

    --color-text1: rgb(240, 255, 240);
    --color-text2: rgb(200, 230, 200);
    --color-text3: rgb(10, 40, 10);

    --color-contrast: rgb(108, 255, 108);
    --color-disable: rgb(50, 80, 50);

    --color-fill-1: rgb(5, 15, 5);
    --color-fill-2: rgb(20, 60, 20);
    --color-fill-3: rgb(230, 245, 230);
    --color-fill-4: rgb(15, 35, 15);
    --color-fill-5: rgb(10, 50, 10);

    --color-back: rgb(12, 46, 12);

    --color-border1: rgb(15, 40, 15);
    --color-border2: rgb(150, 230, 150);

    --color-content-text: rgb(20, 50, 20);
    --color-content-bg: rgb(200, 230, 200);

    --color-green: rgb(53, 173, 6);
    --color-red: rgb(3, 34, 8);
    --color-cart: rgb(16, 201, 72);


    --color-shadow: rgb(50, 90, 50);
  }
}
