.theme-sakura-v1 {
  --color-primary: 243,159,190;
  --color-secondary: 223,98,150;
  --color-back: 231,177,197;

  --color-text1: 80,20,50;
  --color-text2: 140,60,100;
  --color-text3: 255,240,245;

  --color-button-1: 248,194,221;
  --color-button-2: 174,79,149;
  --color-button-3: 42,13,25;

  --btn-grad-start-1: 245,206,220;
  --btn-grad-end-1: 243,159,190;
  --btn-grad-start-2: 134,233,130;
  --btn-grad-end-2: 245,120,182;

  --color-fill-1: 245,183,193;
  --color-fill-2: 168,71,113;
  --color-fill-3: 56,3,26;
  --color-fill-4: 255,154,204;
  --color-fill-5: 39,4,9;

  --color-border1: 224,119,172;
  --color-border2: 94,43,62;

  --color-contrast: 14,73,12;
  --color-disable: 236,170,203;

  --color-green: 146,207,122;
  --color-red: 248,126,153;
  --color-cart: 241,231,169;

  --color-content-bg: 116,38,64;
  --color-content-text: 255,240,245;

  --color-shadow: 247,116,169;
}


.theme-sakura-v2 {
  --color-primary: rgb(255,120,200);  /* neon pink */
  --color-secondary: rgb(240,50,180); /* bright magenta */
  --color-back: rgb(245,160,200);     /* soft pink background */

  --color-text1: rgb(255,40,150);     /* vibrant neon pink for headings */
  --color-text2: rgb(255,80,180);     /* complementary neon pink */
  --color-text3: rgb(250,230,240);    /* soft off-white for readable content */

  --color-button-1: rgb(255,150,200);
  --color-button-2: rgb(200,70,150);
  --color-button-3: rgb(60,20,40);

  --btn-grad-start-1: rgb(255,150,200);
  --btn-grad-end-1: rgb(255,100,180);
  --btn-grad-start-2: rgb(200,50,150);
  --btn-grad-end-2: rgb(255,80,180);

  --color-fill-1: rgb(255,120,200);
  --color-fill-2: rgb(220,80,170);
  --color-fill-3: rgb(80,10,50);
  --color-fill-4: rgb(255,90,200);
  --color-fill-5: rgb(40,5,25);

  --color-border1: rgb(255,100,180);
  --color-border2: rgb(255,200,220);

  --color-contrast: rgb(50,200,100);
  --color-disable: rgb(150,100,120);

  --color-green: rgb(120,230,100);
  --color-red: rgb(255,40,120);
  --color-cart: rgb(255,200,150);

  --color-content-bg: rgb(240,140,180);
  --color-content-text: rgb(255,40,150);

  --color-shadow: rgb(255,80,200);
}


.theme-sakura-v3 {
  --color-primary: rgb(240,170,200);
  --color-secondary: rgb(210,90,160);
  --color-back: rgb(230,180,190);

  --color-text1: rgb(100,30,60);      /* soft but stronger dark pink */
  --color-text2: rgb(150,60,120);     /* complementary purple */
  --color-text3: rgb(245,235,240);    /* readable content white-pink */

  --color-button-1: rgb(245,190,220);
  --color-button-2: rgb(175,70,150);
  --color-button-3: rgb(45,15,25);

  --btn-grad-start-1: rgb(245,200,220);
  --btn-grad-end-1: rgb(240,160,190);
  --btn-grad-start-2: rgb(140,230,130);
  --btn-grad-end-2: rgb(240,110,180);

  --color-fill-1: rgb(245,185,195);
  --color-fill-2: rgb(170,70,110);
  --color-fill-3: rgb(50,5,30);
  --color-fill-4: rgb(255,150,210);
  --color-fill-5: rgb(40,5,15);

  --color-border1: rgb(225,120,170);
  --color-border2: rgb(95,45,60);

  --color-contrast: rgb(20,80,10);
  --color-disable: rgb(235,165,200);

  --color-green: rgb(145,205,120);
  --color-red: rgb(250,125,150);
  --color-cart: rgb(240,230,165);

  --color-content-bg: rgb(120,40,65);
  --color-content-text: rgb(245,235,240);

  --color-shadow: rgb(250,115,170);
}
